@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    @apply bg-gray-100 dark:bg-gray-800;
}

input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }



 @media  screen{
    .text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
     }
 }